{% extends 'base.html' %}
{% block body %}
      <div class="container-fluid">
        <div class="row">
          <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link text">
                    <span data-feather="file"></span></span>
                    Title
                </li>
                {% for i in range(len_list) %}
                <li class="nav-item">
                  <a class="nav-link" href="/product/{{handle_title_list[i]['handle']}}">
                    {{ handle_title_list[i]['title'] }}
                  </a>
                </li>
                {% endfor %}
              </ul>
        
      
      
            </div>
          </nav>
      
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

              <div class="btn-toolbar mb-2 mb-md-0">
              </div>
          
            <div class="table-responsive">
            
      <form action="/product_update" method="POST">
        <textarea name="title" id="Title">
          {{product_list[0]['title']}}
        </textarea>
        <p>{{product_list[0]['id']}}</p>
        <textarea id="Body_HTML" name="body_HTML" >
          {{product_list[0]['body_HTML']}}
        </textarea>
        <textarea id="Tag"name="tag" >
          {{product_list[0]['tag']}}
        </textarea>
        <textarea id="Published" name="published" >
          {{product_list[0]['published']}}
        </textarea>
        <textarea id="Price" name="price">
          {{product_list[0]['variant_price']}}
        </textarea>
        <textarea id="Option1_name" name="option1_name">
          {{product_list[0]['option1_name']}}
        </textarea>
        <input class="btn btn-sm btn-outline-secondary" type="submit" value="revise">
      </form>
    </div>
    </main>
  </div>
</div>


{% endblock %} 
