<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SunnyGG</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet" />
</head>
<body>
<header class="bg-dark">
    <a><img src="{{ url_for('static', filename='img/Position_Challenger-Bot.png' )}}" style="height:40px;" alt=""></a>
    <a class="navbar-brand text-white" href="/">SunnyGG</a>
</header>
    {% block body %}
    {% endblock %}

<script src="{{ url_for('static', filename='js/jquery.slim.min.js') }}"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>